<table class="table">
    <thead>
        <tr class="table-info">
            <th scope="col">Name</th>
            <th scope="col">Thương Hiệu</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Giá</th>
            <th scope="col">Avartar</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of list">
            <td>{{product.name}}</td>
            <td>{{product.thuong_hieu}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.price}}</td>
            <td><img [src]="product.avartar" alt=""></td>
            <td *ngIf="product.status=='1'">
                <app-status [status]="product.status" (changeStatus)="parentChangeStatus($event, product)">
                </app-status>
            </td>
            <td *ngIf="product.status=='0'">
                <app-status [status]="product.status" (changeStatus)="parentChangeStatus($event, product)">
                </app-status>
            </td>
            <td>
                <button (click)="del(product.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                <a routerLink="{{product.id}}/edit"><button class="btn btn-warning"><i
                            class="fas fa-pen-alt"></i></button></a>
            </td>
        </tr>
    </tbody>
</table>