<table class="table">
    <thead>
        <tr class="table-info">
            <th scope="col">Name</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Giá</th>
            <th scope="col">Avartar</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of list">
            <td>{{product.name}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.price}}</td>
            <td><img [src]="product.avartar" alt=""></td>
            <td><button class="btn btn-info">{{product.status}}</button></td>
            <td>
                <a href="#"><button class="btn btn-danger" style="margin-right:5px"><i
                            class="fas fa-trash-alt"></i></button></a>
                <a routerLink="edit"><button class="btn btn-warning"><i class="fas fa-pen-alt"></i></button></a>
            </td>
        </tr>
    </tbody>
</table>