<!-- <p>{{validateForm.value | json}}</p> -->
<div class="container">
    <form action="" class="form" method="post" [formGroup]="validateForm">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Họ Và Tên">
        <app-validate [form]="validateForm.get('name')" name="userName">
        </app-validate>
        <label for="">Thương Hiệu</label>
        <input type="text" class="form-control" placeholder="thuong_hieu" formControlName="thuong_hieu">
        <app-validate [form]="validateForm.get('thuong_hieu')" item="Thương hiệu">
        </app-validate>
        <label for="">Mô Tả</label>
        <input type="text" class="form-control" placeholder="Mô Tả" formControlName="desc">
        <app-validate [form]="validateForm.get('desc')" desc="Mô Tả">
        </app-validate>
        <label for="">Giá</label>
        <input type="text" class="form-control" placeholder="Giá" formControlName="price">
        <!-- <app-validate [form]="validateForm.get('price')" price="Giá Tiền">
        </app-validate> -->
        <label for="">Avartar</label>
        <input type="file" class="form-control" (change)="changeImage($event)">
        <img [src]="imageBase64" alt="" width="200px"><br>
        <label for="">Trạng Thái</label>
        <select class="form-control" formControlName="status">
            <option value="">Chọn Trạng Thái</option>
            <option value="1">Còn Hàng</option>
            <option value="0">Hết Hàng</option>
        </select><br>
        <!-- <app-validate [form]="validateForm.get('status')" status="Trạng Thái">
        </app-validate> -->
        <button class="btn btn-success" (click)="onsubmit(validateForm.value)">Submit</button>
    </form>
</div>