<a href=""><button class="btn btn-success" width="200px">Add</button></a>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Họ Và Tên</td>
            <td>Email</td>
            <td>Dịa Chỉ</td>
            <td>Giới Tính</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Triệu Việt Đức</td>
            <td>1@gmail.com</td>
            <td>Yên Bái</td>
            <td>nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Del</button></a>|
                <a href="#"><button class="btn btn-warning">Edit</button></a>
            </td>
        </tr>
        <tr>
            <td>Lò Duy Hoan</td>
            <td>2@gmail.com</td>
            <td>Yên Bái</td>
            <td>nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Del</button></a>|
                <a href="#"><button class="btn btn-warning">Edit</button></a>
            </td>
        </tr>
        <tr>
            <td>Dàm Minh HIếu</td>
            <td>3@gmail.com</td>
            <td>Hà Nội</td>
            <td>nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Del</button></a>|
                <a href="#"><button class="btn btn-warning">Edit</button></a>
            </td>
        </tr>
        <tr>
            <td>Lại Đức Phố</td>
            <td>4@gmail.com</td>
            <td>Ninh Bình</td>
            <td>nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Del</button></a>|
                <a href="#"><button class="btn btn-warning">Edit</button></a>
            </td>
        </tr>
        <tr>
            <td>Lê Duy Khánh</td>
            <td>5@gmail.com</td>
            <td>Phú Xuyên</td>
            <td>nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Del</button></a>|
                <a href="#"><button class="btn btn-warning">Edit</button></a>
            </td>
        </tr>
        <tr>
            <td>Vũ Công Tuyền</td>
            <td>6@gmail.com</td>
            <td>Ba Vì</td>
            <td>nam</td>
            <td>
                <a href="#"><button class="btn btn-danger">Del</button></a>|
                <a href="#"><button class="btn btn-warning">Edit</button></a>
            </td>
        </tr>
    </tbody>
</table>
