<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" class="form" #productForm="ngForm" (submit)="onSubmit(productForm.value)">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="name" [(ngModel)]="newProduct.name" [value]="newProduct.name">
                </div>
                <div class="form-group">
                    <input type="text" name="price" class="form-control" placeholder="price" [(ngModel)]="newProduct.price" [value]="newProduct.price">
                </div>
                <div class="form-group">
                    <input type="text" name="desc" class="form-control" placeholder="desc" [(ngModel)]="newProduct.desc" [value]="newProduct.desc">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Tên sp</td>
                        <td>giá</td>
                        <td>mô tả</td>
                        <td colspan="2">chức nâng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of product">
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.desc}}</td>
                        <td><a [routerLink]="['/product', product.id,'edit']"><button class="btn btn-primary" (click)="Edit(newProduct)">Edit</button>|</a>

                          <a href=""><button class="btn btn-primary" (click)="Del(newProduct.id)">Del</button>|</a>  

                            <a [routerLink]="['/product', product.id]"><button class="btn btn-primary" >xem chi tiết</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>